language: rust
rust:
  - 1.31.0
  - stable
  - beta
  - nightly
script:
  - rustup component add clippy
  - cargo build --verbose
  - cargo test --verbose
  - cargo clippy -- -D warnings
matrix:
  allow_failures:
    - rust: nightly
sudo: required
dist: trusty
addons:
  apt:
    packages:
      - libopenblas-dev
      - gfortran
