language: rust
rust:
  - 1.31.0
  - stable
  - beta
  - nightly
before_script:
  - rustup component add clippy
  - rustup component add rustfmt
script: ci/script.sh
matrix:
  allow_failures:
    - rust: nightly
sudo: required
dist: trusty
addons:
  apt:
    packages:
      - libopenblas-dev
      - gfortran
