language: rust
rust:
  - 1.32.0
  - stable
before_script:
  - rustup component add clippy
  - rustup component add rustfmt
script: ci/script.sh
matrix:
  allow_failures:
    - rust: nightly
sudo: required
dist: trusty
addons:
  apt:
    packages:
      - libopenblas-dev
      - gfortran
after_success:
  - ci/after-success.sh
